body {
  margin: 0;
  font-family: Rubik;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

* {
  font-family: Rubik !important;
}
